/** COMMON */
.modal-backdrop {
    opacity: 0 !important;
    z-index: 0 !important;
}
.icon-pe {
    font-size: 18px!important;
}
.btn-header {
    margin-bottom: 15px;
    margin-top: -10px;
}
.title-header {
    top: -15px;
    position: relative;
}
/** HEADER */
.search-bar {
    width: 65%;
}
.sb-search-li {
    height: 50px;
    width: 70%;
}
.sb-search-input {
    position: relative;
    top: -56px;
    right: -45px;
    padding: 14px;
    width: 0;
    font-size: 16px;
    background-color: #f7f7f8;
    border: 1px solid #dddddd;
    border-radius: 8px;
}
.sb-search-hidden {
    visibility: hidden;
}
.sb-search-visible {
    visibility: visible;
}