
<!--
  TEMPLATE FATTURA ANDREAEM PERSONALIZZATO
  © 2017 ANDREAEM. VIETATA LA RIPRODUZIONE
-->
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row" id="heading">
        <div class="col-xs-6">
            <div id="logo">
                <h1 id="logo-1">AndreaEM</h1>
                <p id="logo-2">Web Designer | Web Developer | Web Engineer</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="company-data">
                <strong id="company-data-name">{{ settings.company.name }}</strong>
                <p>{{ settings.company.address }} - {{ settings.company.cap }} - {{ settings.company.city }} ({{ settings.company.prov }})
                <p>{{ settings.company.phone }} - {{ settings.company.mail }}</p>
                <p>CF: {{ settings.company.cf }}</p>
                <p>P.IVA: {{ settings.company.vat_n }}</p>
            </div>
        </div>
    </div>
    <div class="row" id="document-name">
        <strong class="green-txt">FATTURA</strong> <span id="doc-for">per:</span>
    </div>
    <hr class="green-hr"/>
    <div class="row" id="invoice-details">
        <div class="col-xs-6" id="client-details-block">
            <strong id="client-name" class="green-txt">{{ client.name }}</strong>
            <p class="client-details">{{ client.address }}</p>
            <p class="client-details">{{ client.cap }} - {{ client.city }} ({{ client.prov }})</p>
            <p class="client-details">P.IVA: {{ client.vatNumber }}</p>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6 text-right">
                    <strong class="green-txt invoice-details-dx">FATTURA NUM.</strong><br>
                    <strong class="green-txt invoice-details-dx">DATA</strong><br>
                    <strong class="green-txt invoice-details-dx">CLIENTE NUM.</strong>
                </div>
                <div class="col-xs-6 text-right">
                    <p class="invoice-details-dx"> {{ invoice.id }}-{{ "now"|date("Y") }}</p>
                    <p class="invoice-details-dx"> {{ invoice.date|date("d-m-Y") }}</p>
                    <p class="invoice-details-dx"> {{ client.id }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="green-hr"/>
    <div class="row" id="invoice-elements-block">
        <div class="invoice-table">
            <div class="row">
                <div class="col-xs-2 table-heading">ID</div>
                <div class="col-xs-6 table-heading">DESCRIZIONE</div>
                <div class="col-xs-4 table-heading">PREZZO</div>
            </div>
            <div class="row">
                <div class="col-xs-2 table-element">1</div>
                <div class="col-xs-6 table-element">ELEMENTO PROVA</div>
                <div class="col-xs-4 table-element">100.00</div>
            </div>
            <!--<div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>
            <div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>
            <div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>
            <div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>
            <div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>
            <div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>
            <div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>
            <div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>
            <div class="row blank-row">
                <div class="col-xs-2 table-element"></div>
                <div class="col-xs-6 table-element"></div>
                <div class="col-xs-4 table-element"></div>
            </div>-->
        </div>
    </div>
    <div class="row" id="invoice-totals">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 text-right invoice-details-line">
            <strong class="green-txt invoice-totals-desc">IMPONIBILE</strong><BR>
            <strong class="green-txt invoice-totals-desc">CONTRIBUTO INTEGRATIVO 4%</strong><BR>
            <strong class="green-txt invoice-totals-desc">SPESE ANTICIPATE FUORI CAMPO IVA (EX ART.15)</strong><BR>
            <strong class="green-txt invoice-totals-desc">BOLLO</strong><BR>
            <strong class="green-txt invoice-totals-desc total-line">TOTALE</strong><BR>
        </div>
        <div class="col-xs-3">
            <p class="invoice-totals-line">{{ invoice.total }}.00</p>
            <p class="invoice-totals-line">{{ contribute }}</p>
            <p class="invoice-totals-line">0.00</p>
            <p class="invoice-totals-line">2.00</p>
            <p class="invoice-totals-line">{{ grandtotal }}</p>
        </div>
    </div>
    <div class="row" id="payment-infos">
        <strong class="green-txt">MODALITÁ DI PAGAMENTO:</strong> BONIFICO<br>
        <strong class="green-txt">IBAN:</strong> IT52I0760105138207848007850<br>
        <strong class="green-txt">ABI / CAB:</strong> 07601 / 05138
    </div>
    <div class="row" id="footer-disclaimer">
        <hr class="green-hr"/>
        <br>
        <p>Imposta di bollo assolta ai sensi dell’art. 13 della Tariffa allegata al DPR 26.10.72 n. 642.</p>
        <p>Operazione fuori campo IVA ai sensi dell'art. 1, commi 54-89, L. 23/12/2014, n. 190</p>
        <p>Prestazione non soggetta a ritenuta d’acconto ai sensi del comma 5.2 del Provvedimento Agenzia delle entrate del 22.12.2011 n. 185820</p>
    </div>
</div>
<style>
    /* TEMPLATE FATTURA ANDREAEM PERSONALIZZATO
 © 2017 ANDREAEM. VIETATA LA RIPRODUZIONE
*/
    @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
    html {
        margin-left: 10px;
        margin-right: 10px;
    }
    .container-fluid {
        max-width: 892.920000px;
        min-width: 892.920000px;
    }
    #heading{
        margin-top: 20px;
    }
    #logo {
        margin-left: 20px;
    }
    #logo-1 {
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 900;
        font-size: 60px;
    }
    #logo-2 {
        margin-top: -10px;
        font-size: 16px
    }
    #company-data p{
        line-height: 8px
    }
    #company-data-name {
        line-height: 42px;
    }
    #document-name {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 42px
    }
    #document-name #doc-for {
        font-size: 34px;
    }
    .green-txt {
        color: rgb(47, 226, 134);
    }
    .green-hr {
        margin: 0px 20px;
        border: 1.8px solid rgb(47, 226, 134);
    }
    #invoice-details {
        margin: 10px 5px
    }
    #client-details-block {
        margin: 25px 0;
    }
    #client-name {
        font-size: 20px;
        font-weight: 900;
    }
    .client-details {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 10px;
    }
    .invoice-details-dx{
        margin: 0 0;
        font-size: 18px;
        line-height: 50px;
    }
    #invoice-elements-block {
        margin: 20px 35px 0px;
    }
    .table-heading {
        background-color: rgb(47, 226, 134);
        font-size: 16px;
        color: #FFF;
        padding: 5px 10px;
        text-align: center;
        border-bottom: 2px #7ad1a3 solid;
    }
    .table-element {
        font-size: 18px;
        padding: 5px 10px;
        background-color: #ebebeb;
    }
    .table-element:first-child {
        text-align: center;
    }
    .table-element:last-child {
        text-align: right;
    }
    .invoice-totals-desc {
        font-size: 16px;
        margin-top: 2px;
    }
    .total-line {
        font-size: 24px;
        line-height: 38px;
    }
    .invoice-totals-line {
        font-size: 18px;
        padding: 5px 10px;
        background-color: #ebebeb;
        margin: 0 20px 0 0;
        text-align: right;
        padding-top:10px;
        line-height: 17px;
        font-weight: 900;
        -webkit-print-color-adjust: exact;
    }
    .invoice-totals-line:last-child {
        font-size: 24px;
        line-height: 19px;
        padding:10px 10px
    }
    .invoice-details-line {
        margin-top:10px;
        line-height: 30px;
    }
    #payment-infos {
        margin: 20px;
        font-size: 16px;
        line-height: 35px;
    }
    #payment-infos strong:first-child {
        font-size: 19px
    }
    #footer-disclaimer {
        text-align: center;
        margin-top:250px;
        font-size: 10px;
    }
@media print {
    /* TEMPLATE FATTURA ANDREAEM PERSONALIZZATO
 © 2017 ANDREAEM. VIETATA LA RIPRODUZIONE
 VERSIONE STAMPA
*/
    body, #content, .container-fluid {
        width: 100%;
        margin-left: 0pt;
        margin-right: 0pt;
        float: none;
        background: #fff url(none);
        -webkit-print-color-adjust: exact;
    }
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; // Black prints faster: h5bp.com/s
    box-shadow: none !important;
        text-shadow: none !important;
    }

    #logo-1 {
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 900;
        font-size: 50pt;
    }
    #logo-2 {
        margin-top: -10px;
        font-size: 13.5pt
    }
    #company-data p{
        line-height: 4pt;
        font-size: 8pt;
    }
    #company-data-name {
        line-height: 28pt;
    }

}

</style>
</body>
</html>
