/* TEMPLATE FATTURA ANDREAEM PERSONALIZZATO
 © 2017 ANDREAEM. VIETATA LA RIPRODUZIONE
*/
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
html {
    margin-left: 10px;
    margin-right: 10px;
}
.container-fluid {
    max-width: 892.920000px;
    min-width: 892.920000px;
}
#heading{
    margin-top: 20px;
}
#logo {
    margin-left: 20px;
}
#logo-1 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 900;
    font-size: 60px;
}
#logo-2 {
    margin-top: -10px;
    font-size: 16px
}
#company-data p{
    line-height: 8px
}
#company-data-name {
    line-height: 42px;
}
#document-name {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 42px
}
#document-name #doc-for {
    font-size: 34px;
}
.green-txt {
    color: rgb(47, 226, 134);
}
.green-hr {
    margin: 0px 20px;
    border: 1.8px solid rgb(47, 226, 134);
}
#invoice-details {
    margin: 10px 5px
}
#client-details-block {
    margin: 25px 0;
}
#client-name {
    font-size: 20px;
    font-weight: 900;
}
.client-details {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 10px;
}
.invoice-details-dx{
    margin: 0 0;
    font-size: 18px;
    line-height: 50px;
}
#invoice-elements-block {
    margin: 20px 35px 0px;
}
.table-heading {
    background-color: rgb(47, 226, 134);
    font-size: 16px;
    color: #FFF;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 2px #7ad1a3 solid;
}
.table-element {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #ebebeb;
}
.table-element:first-child {
    text-align: center;
}
.table-element:last-child {
    text-align: right;
}
.invoice-totals-desc {
    font-size: 16px;
    margin-top: 2px;
}
.total-line {
    font-size: 24px;
    line-height: 38px;
}
.invoice-totals-line {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #ebebeb;
    margin: 0 20px 0 0;
    text-align: right;
    padding-top:10px;
    line-height: 17px;
    font-weight: 900;
    -webkit-print-color-adjust: exact;
}
.invoice-totals-line:last-child {
    font-size: 24px;
    line-height: 19px;
    padding:10px 10px
}
.invoice-details-line {
    margin-top:10px;
    line-height: 30px;
}
#payment-infos {
    margin: 20px;
    font-size: 16px;
    line-height: 35px;
}
#payment-infos strong:first-child {
    font-size: 19px
}
#footer-disclaimer {
    text-align: center;
    margin-top:300px;
    font-size: 10px;
}
