/* TEMPLATE FATTURA ANDREAEM PERSONALIZZATO
 © 2017 ANDREAEM. VIETATA LA RIPRODUZIONE
 VERSIONE STAMPA
*/
body, #content, .container-fluid {
    width: 100%;
    margin-left: 0pt;
    margin-right: 0pt;
    float: none;
    background: #fff url(none);
    -webkit-print-color-adjust: exact;
}
*,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important; // Black prints faster: h5bp.com/s
box-shadow: none !important;
    text-shadow: none !important;
}

#logo-1 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 900;
    font-size: 50pt;
}
#logo-2 {
    margin-top: -10px;
    font-size: 13.5pt
}
#company-data p{
    line-height: 4pt;
    font-size: 8pt;
}
#company-data-name {
    line-height: 28pt;
}
