<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{{ page_name }} - Fatturazione{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/jquery-ui.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/light-bootstrap-dashboard.css?v=1.4.0') }}" rel="stylesheet"/>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" >
        <link href="{{ asset('assets/css/pe-icon-7-stroke.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/common.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/switchery.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/pace-theme-flash.css') }}" rel="stylesheet"/>
        <script src="{{ asset('assets/js/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/jquery-ui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/chartist.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/bootstrap-notify.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/moment.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/common.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/switchery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/js/pace.min.js') }}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        {% block body %}{% endblock %}


        <!-- demo
        <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}"></script>
        <script src="{{ asset('assets/js/demo.js') }}"></script>-->
    </body>
</html>
