{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}

        <div class="main-panel">
        {% embed 'template/header.html.twig' %}{% endembed %}
            <div class="content">
                <div class="col-lg-12">
                    <div id="calendar"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/fullcalendar.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('assets/css/fullcalendar.print.css') }}" media="print"/>
<link rel="stylesheet" href="{{ asset('assets/css/glyphicons.css') }}"/>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('assets/js/fullcalendar.it.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                themeSystem: 'bootstrap3',
                themeButtonIcons : {
                    close: 'glyphicon-remove',
                    prev: 'glyphicon-chevron-left',
                    next: 'glyphicon-chevron-right',
                    prevYear: 'glyphicon-backward',
                    nextYear: 'glyphicon-forward'
                },
                aspectRatio: 1.8,
                locale: 'it',
                header: {
                    left: 'prev,next,today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },
                navLinks: true,
                editable: true,
                eventLimit: true,
                nowIndicator: true
            })

        });
    </script>
{% endblock %}
