{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}

        <div class="main-panel">
            {% embed 'template/header.html.twig' %}{% endembed %}


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>
                                        {{ client.name }}
                                        {{ form_start(form) }}
                                        <span class="pull-right">
                                            {{ form_widget(form.save) }}
                                        </span>
                                    </h3>
                                    <br><br>
                                    <div class="form-group">
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.vat_number) }}
                                        {{ form_widget(form.vat_number) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.address) }}
                                        {{ form_widget(form.address) }}
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                {{ form_label(form.cap) }}
                                                {{ form_widget(form.cap) }}
                                            </div>
                                            <div class="col-lg-4">
                                                {{ form_label(form.city) }}
                                                {{ form_widget(form.city) }}
                                            </div>
                                            <div class="col-lg-4">
                                                {{ form_label(form.prov) }}
                                                {{ form_widget(form.prov) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                {{ form_label(form.tel) }}
                                                {{ form_widget(form.tel) }}
                                            </div>
                                            <div class="col-lg-6">
                                                {{ form_label(form.email) }}
                                                {{ form_widget(form.email) }}
                                            </div>
                                        </div>

                                    </div>
                                {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% embed 'template/footer.html.twig' %}{% endembed %}

        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
