{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}

        <div class="main-panel">
            {% embed 'template/header.html.twig' %}{% endembed %}
            {% embed 'modals/clients.add.html.twig' %}{% endembed %}

            <div class="content">
                <div class="">
                    <div class="col-lg-12">
                        <a href="" class="btn-header btn btn-success" data-toggle="modal" data-target="#clientsAddModal"><i class="fa fa-plus"></i> Nuovo</a>

                        {% if status == true %}<p class="bg-success">Nuovo Cliente aggiunto con successo</p>{% endif %}
                        <div class="card">
                            <div class="header">
                                <div class="title pull-right" style="margin-bottom: 15px">

                                </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th>ID</th>
                                    <th>Ragione Sociale</th>
                                    <th>P.IVA</th>
                                    <th>Indirizo</th>
                                    <th>Città</th>
                                    <th>Provincia</th>
                                    </thead>
                                    <tbody>
                                    {% for client in clients %}
                                        <tr>
                                            <td>{{ client.id }}</td>
                                            <td>
                                                <a href="{{ url('clients_details', {'id' : client.id }) }}">
                                                    {{ client.name }}
                                                </a>
                                            </td>
                                            <td>{{ client.vatNumber }}</td>
                                            <td>{{ client.address }}</td>
                                            <td>{{ client.city }}</td>
                                            <td>{{ client.prov }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% embed 'template/footer.html.twig' %}{% endembed %}

        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
