{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}

        <div class="main-panel">
            {% embed 'template/header.html.twig' %}{% endembed %}


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>
                                        {{ client.name }}
                                        <span class="pull-right">
                                            <a href="{{ url('clients_edit',{'id': client.id}) }}" class="btn btn-primary">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </span>
                                    </h3>
                                    <p>P.IVA: {{ client.vatNumber }}</p>
                                    <p>{{ client.address }} - {{ client.cap }} - {{ client.city }} - {{ client.prov }}</p>
                                    <p>Tel: <a href="tel:{{ client.tel }}">{{ client.tel }}</a></p>
                                    <p>Email: <a href="mailto:{{ client.email }}">{{ client.email }}</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3>Fatture</h3>
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <th>ID</th>
                                                <th>Data</th>
                                                <th>Importo</th>
                                                <th>Stato</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                {% for invoice in invoices %}
                                                    <tr>
                                                        <td>{{ invoice.id }}-{{ "now"|date("Y") }}</td>
                                                        <td>{{ invoice.date|date("d-m-Y") }}</td>
                                                        <td>{{ invoice.total }} €</td>
                                                        <td>{{ functions.convertStatus(invoice.status) }}</td>
                                                        <td class="pull-right">
                                                            <a class="btn btn-sm btn-success" href="{{ url('invoices') }}"><i class="fa fa-eye"></i></a>
                                                            <a class="btn btn-sm btn-primary" href="{{ url('invoices') }}"><i class="fa fa-edit"></i></a>
                                                            <a class="btn btn-sm btn-danger" href="{{ url('invoices') }}"><i class="fa fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                {%  endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% embed 'template/footer.html.twig' %}{% endembed %}

        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
