{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}

        <div class="main-panel">
            {% embed 'template/header.html.twig' %}{% endembed %}


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5" style="height: 0px;">
                            <div class="card">
                                <div class="header">
                                    <h2 class="title">Entrate <span class="pull-right text-success">{{ earningsYear.totals|number_format(2, '.', ',') }} €
                                            <h6 class="text-muted">{{ earningsExpect.totals|number_format(2, '.', ',') }} € previste</h6></span></h2>
                                    <p class="category">Anno 2017</p>
                                </div>
                                <div class="content">
                                    <div id="chartEarnings" class="ct-chart ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>
                        <script>
                            new Chartist.Line('#chartEarnings', {
                                labels: ['{{ months.1 }}', '{{ months.2 }}', '{{ months.3 }}', '{{ months.4 }}', '{{ months.5 }}'],
                                series: [
                                    [{{ earningsMonth.1 }},{{ earningsMonth.2 }},{{ earningsMonth.3 }},{{ earningsMonth.4 }},{{ earningsMonth.5 }}],
                                    [{{ earningsExpectMonth.1 }},{{ earningsExpectMonth.2 }},{{ earningsExpectMonth.3 }},{{ earningsExpectMonth.4 }},{{ earningsExpectMonth.5 }}],
                                    [],
                                    [],
                                    [],
                                    []

                                ]
                            }, {
                                showArea: true,
                                fullWidth: true,
                                chartPadding: {
                                    right: 40
                                },
                                showPoint: false
                            });

                        </script>
                        <style>
                            #chartEarnings .ct-series-a .ct-area {
                                fill: #59922b;
                            }
                            #chartEarnings .ct-series-a .ct-line {
                                stroke: #59922b;
                            }
                            .ct-series-b .ct-area {
                                fill: #59922b;
                            }
                            .ct-series-b .ct-line {
                                stroke: #59922b;
                                stroke-dasharray: 1px;
                            }
                        </style>
                        <div class="col-md-7">
                            <div class="card">
                                <div class="header">
                                    <h2 class="title">Fatture Emesse</h2>
                                    <p class="category">Ultimi 3 Mesi </p>
                                </div>
                                <div class="content" style="min-height: 330px; overflow: scroll">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th style="text-align: center">ID</th>
                                            <th style="text-align: center">Data</th>
                                            <th style="text-align: center">Cliente</th>
                                            <th style="text-align: center">Importo</th>
                                            <th style="text-align: center">Stato</th>
                                        </thead>
                                        <tbody style="text-align: center">
                                        {% for invoice in invoices %}
                                            {% set client = functions.convertClientID(invoice.client) %}
                                            <tr>
                                                <td>{{ invoice.id}}-{{ "now"|date("Y") }}</td>
                                                <td>{{ invoice.date|date("d-m-Y") }}</td>
                                                <td><a href="{{ url('clients_details', {'id' : invoice.client }) }}">{{ client }}</a></td>
                                                <td>{{ invoice.total }} €</td>
                                                <td>{% if invoice.status == 3 %}<i class="fa fa-exclamation-triangle text-danger"></i>{% endif %}{{ functions.convertStatus(invoice.status) }}</td>
                                                <!--<td style="text-align: right">
                                                    <a class="btn btn-xs btn-success" href="{{ url('show_invoice', {'id': invoice.id }) }}"><i class="fa fa-eye"></i></a>
                                                    <a class="btn btn-xs btn-primary" href="{{ url('invoices') }}"><i class="fa fa-edit"></i></a>
                                                    <a class="btn btn-xs btn-danger" href="{{ url('invoices') }}"><i class="fa fa-trash"></i></a>
                                                </td>-->
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-5" style="height: 0px;">
                            <div class="card">
                                <div class="header">
                                    <h2 class="title">Uscite <span class="pull-right text-danger">{{ expensesTotal.totals }} €<h6 class="text-muted" style="right:-30px;position:relative">{{ expensesExpect.totals }} € previste</h6></span></h2>
                                    <p class="category">Anno 2017</p>
                                </div>
                                <div class="content">
                                    <div id="chartExpenses" class="ct-chart ct-perfect-fourth"></div>
                                </div>
                            </div>
                        </div>
                        <script>
                            new Chartist.Line('#chartExpenses', {
                                labels: ['{{ months.1 }}', '{{ months.2 }}', '{{ months.3 }}', '{{ months.4 }}', '{{ months.5 }}'],
                                series: [
                                    [{{ expensesMonth.1 }},{{ expensesMonth.2 }},{{ expensesMonth.3 }},{{ expensesMonth.4 }},{{ expensesMonth.5 }}],
                                    [{{ expensesExpectMonth.1 }},{{ expensesExpectMonth.2 }},{{ expensesExpectMonth.3 }},{{ expensesExpectMonth.4 }},{{ expensesExpectMonth.5 }}],
                                    [],
                                    [],
                                    [],
                                    []
                                ]
                            }, {
                                showArea: true,
                                fullWidth: true,
                                chartPadding: {
                                    right: 40
                                },
                                showPoint: false
                            });

                        </script>
                        <div class="col-md-7">
                            <div class="card">
                                <div class="header">
                                    <h2 class="title">Fatture Ricevute</h2>
                                    <p class="category">Ultimi 3 Mesi</p>
                                </div>
                                <div class="content" style="min-height: 330px; overflow: scroll">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th style="text-align: center">ID</th>
                                        <th style="text-align: center">Data</th>
                                        <th style="text-align: center">Fornitore</th>
                                        <th style="text-align: center">Importo</th>
                                        <th style="text-align: center">Stato</th>
                                        <th style="text-align: center">Scadenza</th>
                                        </thead>
                                        <tbody style="text-align: center">
                                        {% for expense in expenses %}
                                            <tr>
                                                <td>{{ expense.id }}</td>
                                                <td>{{ expense.dateReceived|date("d-m-Y") }}</td>
                                                <td>{{ expense.supplier }}</td>
                                                <td>{{ expense.total|number_format(2, '.', ',') }} €</td>
                                                <td style="text-align: center">
                                                    {%  if expense.paid == 1 %}
                                                        <i class="icon-pe pe-7s-check text-success" data-toggle="tooltip" data-placement="bottom" title="Pagata"></i>
                                                    {% elseif expense.paid == 0 and expense.deadline|date("d-m-Y") < "now"|date("d-m-Y") %}
                                                        <i class="icon-pe pe-7s-attention text-warning" data-toggle="tooltip" data-placement="bottom" title="Scaduta"></i>
                                                    {% elseif expense.paid == 0 %}
                                                        <i class="icon-pe pe-7s-close-circle text-danger" data-toggle="tooltip" data-placement="bottom" title="NON Pagata"></i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ expense.deadline|date("d-m-Y") }}</td>
                                                <!--<td style="text-align: right">
                                                    <a class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
                                                    <a class="btn btn-xs btn-danger" href=""><i class="fa fa-trash"></i></a>
                                                </td>-->
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>


        {% embed 'template/footer.html.twig' %}{% endembed %}

        </div>
    </div>


{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('assets/js/chartist-plugin-tooltip.js') }}" type="text/javascript"></script>
{% endblock %}