{% extends 'base.html.twig' %}

{% block body %}
    <link href="{{ asset('assets/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet"/>
    <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap-datepicker.it.min.js') }}" type="text/javascript" charset="UTF-8"></script>
    <script>
        /*$(document).ready(function() {
            $('#form_dateReceived').datepicker({
                format: 'dd/mm/yyyy',
                language: 'it',
                autoclose: true,
                toggleActive: true,
                todayHighlight: true
            });
            $('#form_deadline').datepicker({
                format: 'dd/mm/yyyy',
                language: 'it',
                autoclose: true,
                toggleActive: true,
                todayHighlight: true
            });
        });*/
    </script>
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}
    {% embed 'modals/expense.add.html.twig' %}{% endembed %}
        <div class="main-panel">
        {% embed 'template/header.html.twig' %}{% endembed %}
            <div class="content">
                <div class="col-lg-12">
                    <a href="" class="btn-header btn btn-success" data-toggle="modal" data-target="#expenseAddModal"><i class="fa fa-plus"></i> Nuovo</a>
                    <a href="{{ url('expenses') }}" class="btn-header btn btn-primary">Vedi Tutto</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-header" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorie <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for item in category %}
                                <li><a href="{{ url('expenses', {'type':'categoria','sort': item.category|lower}) }}"><span class="label label-success">{{ item.category }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-header" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Stato <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('expenses', {'type':'stato','sort': 1}) }}"><span class="label label-success">Pagate</span></a></li>
                            <li><a href="{{ url('expenses', {'type':'stato','sort': 0}) }}"><span class="label label-danger">Non Pagate</span></a></li>
                            <li><a href=""><span class="label label-warning">Scadute</span></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-header" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fornitore <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for item in supplier %}
                                <li><a href="{{ url('expenses', {'type':'fornitore','sort': item.supplier|lower}) }}">{{ item.supplier }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="pull-right btn-header title-header"><h3>Totale: <span class="text-danger">{{ total.totals }} €</span></h3></div>
                    <div class="card">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>ID</th>
                                <th>Data ricezione <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></th>
                                <th>Fornitore <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></th>
                                <th>Totale <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></th>
                                <th>Pagata <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></th>
                                <th>Scadenza <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></th>
                                <th>Categoria <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></th>
                                </thead>
                                <tbody>
                                {% for expense in expenses %}
                                    <tr>
                                        <td>{{ expense.id }}</td>
                                        <td>{{ expense.dateReceived|date("d-m-Y") }}</td>
                                        <td>{{ expense.supplier }}</td>
                                        <td>{{ expense.total|number_format(2, '.', ',') }} €</td>
                                        <td>
                                            {%  if expense.paid == 1 %}
                                                <i class="icon-pe pe-7s-check text-success"></i>
                                            {% elseif expense.paid == 0 and expense.deadline|date("d-m-Y") < "now"|date("d-m-Y") %}
                                                <i class="icon-pe pe-7s-attention text-warning"></i>
                                            {% elseif expense.paid == 0 %}
                                                <i class="icon-pe pe-7s-close-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ expense.deadline|date("d-m-Y") }}</td>
                                        <td><a href="#" class="label label-success">{{ expense.category }}</a></td>
                                        <td style="text-align: right">
                                            <a class="btn btn-sm {% if expense.paid == 1 %}btn-secondary" disabled{% else %}btn-success"{% endif %}><i class="fa fa-money"></i></a>
                                            <a class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-sm btn-danger" href=""><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
