{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}

        <div class="main-panel">
            {% embed 'template/header.html.twig' %}{% endembed %}

            <div class="content">
                <div class="">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-heading no-print">
                                <h4 class="pull-left">Fattura {{ invoice.id }} del {{ invoice.date|date("d-m-Y") }} - {{ status }}</h4>
                                <span class="pull-right" style="margin-top: 22px">
                                    <a href="javascript:print();" class="btn btn-success"><i class="fa fa-print"></i></a>
                                    <a href="" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                    <a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                </span>
                            </div>
                            <div class="panel-body" style="height: 800px;position: relative; margin-top: 80px">
                                {{ render(controller('AppBundle:default:renderInvoice',{'id' : invoice.id,'settings':settings, 'invoice' : invoice, 'client': client, 'contribute': contribute, 'grandtotal' : grandtotal})) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% embed 'template/footer.html.twig' %}{% endembed %}

        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    <style>
        @media print{
            .no-print{
                display:none;
            }
            .sf-minitoolbar {
                display: none!important;
            }
        }
    </style>
{% endblock %}
