{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="main-panel">
            {{ render(controller('AppBundle:Template:generateSidebar',{'plugin_time_tracker': false,'plugin_calendar':false})) }}
            {% embed 'modals/invoice.add.html.twig' %}{% endembed %}
            <div class="content">
                <div class="col-lg-12">
                    <a href="" class="btn-header btn btn-success" data-toggle="modal" data-target="#invoiceAddModal"><i class="fa fa-plus"></i> Nuova</a>
                    {% if status == true %}<p class="bg-success">Nuova Fattura aggiunta con successo</p>{% endif %}
                    <div class="card">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>Cliente</th>
                                    <th>Data</th>
                                    <th>Importo</th>
                                    <th>Stato</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                {% for invoice in invoices %}
                                    {% set client = functions.convertClientID(invoice.client) %}
                                    <tr>
                                        <td>{{ invoice.id }}-{{ "now"|date("Y") }}</td>
                                        <td><a href="{{ url('clients_details', {'id' : invoice.client }) }}">{{ client }}</a></td>
                                        <td>{{ invoice.date|date("d-m-Y") }}</td>
                                        <td>{{ invoice.total }} €</td>
                                        <td>{{ functions.convertStatus(invoice.status) }}</td>
                                        <td style="text-align: right">
                                            <a class="btn btn-sm btn-success" href="{{ url('show_invoice', {'id': invoice.id }) }}"><i class="fa fa-eye"></i></a>
                                            <a class="btn btn-sm btn-warning" href="{{ url('invoices') }}"><i class="fa fa-envelope-o"></i></a>
                                            <a class="btn btn-sm btn-primary" href="{{ url('invoices') }}"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-sm btn-danger" href="{{ url('invoices') }}"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% embed 'template/footer.html.twig' %}{% endembed %}
        </div>
    </div>
{% endblock %}
