{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}

        <div class="main-panel">
        {% embed 'template/header.html.twig' %}{% endembed %}
            <div class="content">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="header" style="height: 50px;">
                            <a href="" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Nuova </a>
                        </div>
                        <div class="content">
                            <ul class="list-group">
                                {% for note in notes %}
                                    <a href="" class="list-group-item list-group-item-action" id="note-{{ note.id }}">
                                        {{ note.text|slice(0, 45) ~ '...' }}<small class="pull-right" style="margin-top: 2px">{{ note.date|date("d-m-Y") }}</small>
                                    </a>
                                    <script>
                                        $('#saveNote').click(function (e) {
                                            e.preventDefault();
                                            alert('changed');
                                            ajaxSave('{{ note.id }}')
                                        });
                                        $('#note-{{ note.id }}').click(function (e) {
                                            e.preventDefault();
                                            ajaxLoad('{{ note.id }}');
                                        });

                                    </script>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="header" style="height: 50px;">
                            <span id="noteLoading" class="hidden"><i class="fa fa-spin fa-spinner"></i>&nbsp; Caricamento</span>
                            <span id="noteSaving" class="hidden"><i class="fa fa-spin fa-spinner"></i>&nbsp; Salvataggio</span>
                            <a href="" class="btn btn-danger pull-right disabled" id="deleteNote"><i class="fa fa-remove"></i>Elimina </a>
                            <a href="" class="btn btn-success pull-right disabled" id="saveNote" style="margin-right: 10px;"><i class="fa fa-save"></i>Salva </a>
                        </div>
                        <div class="content">
                            <textarea id="noteTextArea" class="form-control" rows="32" style="resize: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            {% embed 'template/footer.html.twig' %}{% endembed %}
            <script>
                function ajaxLoad(id) {
                    $.ajax({
                        url: '/api/load_note/' + id,
                        method: 'GET',
                        dataType: 'html',
                        beforeSend: function () {
                            $('#noteLoading').removeClass('hidden');
                            $('.list-group-item').each(function() { $(this).removeClass('active') });
                            $('#note-' + id).addClass('active');
                        }
                    }).done(function (string) {
                        $('#noteTextArea').text(string);
                        $('#noteLoading').addClass('hidden');
                        $('#deleteNote').removeClass('disabled');
                        $('#saveNote').removeClass('disabled');
                    })
                }
                function ajaxSave(id) {
                    $.ajax({
                        url: '/api/save_note/' + id,
                        method: 'GET',
                        dataType: 'html',
                        data: $('#noteTextArea').text(),
                        beforeSend: function() {
                            $('#noteSaving').removeClass('hidden');
                        }
                    }).done(function() {
                        $('#noteSaving').addClass('hidden');
                    })
                }
            </script>
        </div>
    </div>
{% endblock %}