{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}
        {% embed 'modals/products.add.html.twig' %}{% endembed %}
        <div class="main-panel">
        {% embed 'template/header.html.twig' %}{% endembed %}
            <div class="content">
                <div class="col-lg-12">
                    <a href="" class="btn-header btn btn-success" data-toggle="modal" data-target="#productsAddModal"><i class="fa fa-plus"></i> Nuovo</a>
                    <div class="card">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Tipo</th>
                                    <th>Prezzo</th>
                                    <th>Fatturabile</th>
                                    <th>Attivo</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.name }}</td>
                                            <td>{{ functions.convertProductType(product.type) }}</td>
                                            <td>{{ product.price }} €</td>
                                            <td>{%  if product.billable == 1 %}<i class="icon-pe pe-7s-check text-success"></i>{% else %}<i class="icon-pe pe-7s-close-circle text-danger"></i>{% endif %}</td>
                                            <td>{%  if product.enabled == 1 %}<i class="icon-pe pe-7s-check text-success"></i>{% else %}<i class="icon-pe pe-7s-close-circle text-danger"></i>{% endif %}</td>
                                            <td style="text-align: right">
                                                <a class="btn btn-sm btn-primary" id="edit-{{ product.id }}" onclick="editModal({{ product.id }})"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-sm btn-danger" href=""><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <script>
                            function editModal(id) {
                                alert(id);
                                $.ajax({
                                    type: "POST",
                                    dataType: 'json',
                                    url: Routing.generate('products_edit'),
                                    async: false
                                })
                                    .done(function(response){
                                        template = response;
                                        $('#your_div').html(template.html); //Change the html of the div with the id = "your_div"
                                    })
                                    .fail(function(jqXHR, textStatus, errorThrown){
                                        alert('Error : ' + errorThrown);
                                    });
                                $('#productsAddModal').modal('show');
                            }

                        </script>
                    </div>
                </div>
            </div>
            {% embed 'template/footer.html.twig' %}{% endembed %}

        </div>
    </div>
{% endblock %}