{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}

        <div class="main-panel">
        {% embed 'template/header.html.twig' %}{% endembed %}
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Azienda</a></li>
                            <li role="presentation"><a href="#tab3" aria-controls="tab2" role="tab" data-toggle="tab">Plugins</a></li>
                            <li role="presentation"><a href="#tab4" aria-controls="tab2" role="tab" data-toggle="tab">Aggiornamenti</a></li>
                        </ul>
                        <br>
                        <div class="card">
                            <div class="content">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="tab2">
                                        <h4>Generali</h4>
                                        <div class="content">
                                            <div class="row">
                                                <form id="settingsForm">
                                                <div class="col-sm-4">
                                                    <label>Lingua</label>
                                                    <select name="language" class="form-control">
                                                        <option value="it">Italiano</option>
                                                        <option value="en">Inglese (Incompleta)</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>IVA default</label>
                                                    <select name="vat" class="form-control">
                                                        <option value="0">0 %</option>
                                                        <option value="10">10 %</option>
                                                        <option value="20">20 %</option>
                                                        <option value="21">21 %</option>
                                                        <option value="22" selected>22 %</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Moneta</label>
                                                    <select name="currency" class="form-control">
                                                        <option value="Euro">Euro €</option>
                                                        <option value="Dollar">Dollaro $</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>Azienda</h4>
                                        <div class="content">

                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <label>Ragione Sociale</label>
                                                        <input name="name" class="form-control" value="{{ yml.company.name }}">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label>Indirizzo</label>
                                                        <input name="address" class="form-control" value="{{ yml.company.address }}">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label>Città</label>
                                                        <input name="city" class="form-control" value="{{ yml.company.city }}">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <label>CAP</label>
                                                        <input name="cap" class="form-control" type="text" maxlength="5" value="{{ yml.company.cap }}">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label>Provincia</label>
                                                        <input name="prov" class="form-control" type="text" maxlength="2" value="{{ yml.company.prov }}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <br>

                                                    <div class="col-sm-3">
                                                        <label>Codice Fiscale</label>
                                                        <input name="cf" class="form-control" type="text" maxlength="16" value="{{ yml.company.cf }}">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label>Partita IVA</label>
                                                        <input name="vat_n" class="form-control" type="text" maxlength="11" value="{{ yml.company.vat_n }}">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label>Telefono</label>
                                                        <input name="phone" class="form-control" type="tel" value="{{ yml.company.phone }}">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label>E-Mail</label>
                                                        <input name="email" class="form-control" type="email" value="{{ yml.company.mail }}">
                                                    </div>
                                                </div>
                                            </form>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <br>
                                                    <a href="" id="settings-save" class="btn btn-success pull-right">Salva</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                                        <h4>Plugins</h4>
                                        <div class="content">
                                            <div class="row">
                                                <form class="form-inline">
                                                    <div class="col-sm-2">
                                                        <div class="form-group pull-right" style="margin:10px 20px">
                                                            <label>Calendario</label>
                                                            <input type="checkbox" id="switch1" class="switch js-switch" {% if yml.settings.sections_enabled.calendar == true %}checked{% endif %} />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div class="form-group pull-right" style="margin:10px 20px">
                                                            <label>Time Tracker</label>
                                                            <input type="checkbox" id="switch2" class="switch js-switch" {% if yml.settings.sections_enabled.time_tracker == true %}checked{% endif %} />
                                                        </div>
                                                    </div>
                                                    <div class="col-smn-2">
                                                        <div class="form-group pull-right" style="margin:10px 20px">
                                                            <label>Note</label>
                                                            <input type="checkbox" id="switch3" class="switch js-switch" {% if yml.settings.sections_enabled.notes == true %}checked{% endif %} />
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab4">
                                        <h4>Aggiornamenti</h4>
                                        <div class="content">
                                            <div class="row">
                                                <p>Versione corrente: <span class="localVersion">{{ yml.app.version }}</span></p>
                                                <p>Versione sul server: <span class="serverVersion">...</span></p>
                                                <p class="messageText"></p>
                                                <a href="" class="btn btn-primary" id="versionCheck">Controlla</a>
                                                <a href="" class="btn btn-success disabled" id="startUpgrade">Aggiorna</a>
                                                <p></p>
                                                <div class="progress hidden">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                                                    ERRORE
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% embed 'template/footer.html.twig' %}{% endembed %}

        </div>
    </div>
    <style>
        .switchery {
            margin-left:15px;
        }

    </style>
    <script>
        $('#settings-save').click(function (e) {
            e.preventDefault();
            var formData = {
                'language' : $('select[name=language]').val(),
                'vat' : $('select[name=vat]').val(),
                'currency' : $('select[name=currency]').val(),
                'name' : $('input[name=name]').val(),
                'address' : $('input[name=address]').val(),
                'city' : $('input[name=city]').val(),
                'cap' : $('input[name=cap]').val(),
                'prov' : $('input[name=prov]').val(),
                'cf' : $('input[name=cf]').val(),
                'vat_n' : $('input[name=vat_n]').val(),
                'phone' : $('input[name=phone]').val(),
                'email' : $('input[name=email]').val()
            };
            $.ajax({
                type: 'GET',
                url: '{{ url('api_submitsettings') }}',
                data: formData,
                dataType: 'html',
                encode: true,
                beforeSend: function() { }
            }).done(function(html) {
                showNotify('Impostazioni', 'Impostazioni Salvate', 'fa fa-check-circle', 'success')
            });
        });
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function(html) {
            var switchery = new Switchery(html);
        });
        var changeCheckbox1 = document.querySelector('#switch1');
        changeCheckbox1.onchange = function() {
            if(changeCheckbox1.checked == true) {
                $.ajax({
                    url: '{{ url('api_plugincontrol_action',{ 'action':'activate','plugin':'calendar'}) }}',
                    dataType: 'html',
                    method: 'GET'
                }).done(function (html) {
                    showNotify('Plugin','Calendario Attivato','fa fa-toggle-on','success');
                })
            } else {
                $.ajax({
                    url: '{{ url('api_plugincontrol_action',{ 'action':'deactivate','plugin':'calendar'}) }}',
                    dataType: 'html',
                    method: 'GET'
                }).done(function (html) {
                    showNotify('Plugin','Calendario Disattivato','fa fa-toggle-off','warning');
                })
            }
        };
        var changeCheckbox2 = document.querySelector('#switch2');
        changeCheckbox2.onchange = function() {
            if(changeCheckbox2.checked == true) {
                $.ajax({
                    url: '{{ url('api_plugincontrol_action',{ 'action':'activate','plugin':'time_tracker'}) }}',
                    dataType: 'html',
                    method: 'GET'
                }).done(function (html) {
                    showNotify('Plugin','TimeTracker Attivato','fa fa-toggle-on','success');
                })
            } else {
                $.ajax({
                    url: '{{ url('api_plugincontrol_action',{ 'action':'deactivate','plugin':'time_tracker'}) }}',
                    dataType: 'html',
                    method: 'GET'
                }).done(function (html) {
                    showNotify('Plugin','TimeTracker Disattivato','fa fa-toggle-off','warning');
                })
            }
        };
        var changeCheckbox3 = document.querySelector('#switch3');
        changeCheckbox3.onchange = function() {
            if(changeCheckbox3.checked == true) {
                $.ajax({
                    url: '{{ url('api_plugincontrol_action',{ 'action':'activate','plugin':'notes'}) }}',
                    dataType: 'html',
                    method: 'GET'
                }).done(function (html) {
                    showNotify('Plugin','Note Attivato','fa fa-toggle-on','success');
                })
            } else {
                $.ajax({
                    url: '{{ url('api_plugincontrol_action',{ 'action':'deactivate','plugin':'notes'}) }}',
                    dataType: 'html',
                    method: 'GET'
                }).done(function (html) {
                    showNotify('Plugin','Note Disattivato','fa fa-toggle-off','warning');
                })
            }
        };
        $('#versionCheck').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '{{ url('api_versioncheck') }}',
                dataType: 'html',
                method: 'GET',
                beforeSend: function( xhr ) {
                    showNotify('Aggiornamenti','Controllo disponibilità Aggiornamenti','fa fa-level-up','info');
                    $('.serverVersion').html('<i class="fa fa-spinner fa-spin"></i>');
                }
            }).done(function (html) {
                $('.serverVersion').html(html);
                if($('.localVersion').text() < html) {
                    $('#startUpgrade').removeClass('disabled');
                    $('.messageText').html('<small class="text-success">É presente un\' aggiornamento!</small>');
                    showNotify('Aggiornamenti','É presente un\' aggiornamento!','fa fa-level-up','success');
                } else {
                    $('.messageText').html('<small>La tua versione è aggiornata!</small>');
                    showNotify('Aggiornamenti','La tua versione è aggioranta!','fa fa-level-up','success');
                }
            })
        });
        $('#startUpgrade').click(function (e) {
            e.preventDefault();
            $('.progress').removeClass('hidden');
            for (i = 0; i < 100; i++) {
                $('.progress-bar').attr('aria-valuenow', i++).css('min-width', i + 'em');
            }
        });
        function showNotify(title,message,icon,type) {
            $.notify({
                title: title,
                message: message,
                icon: icon
            },{
                type: type,
                allow_dismiss: false,
                placement: {
                    from: "top",
                    align: "right"
                },
                showProgressbar: true
            });
        }
    </script>
{% endblock %}