{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Template:generateSidebar')) }}
    {% embed 'modals/timetracker.start.html.twig' %}{% endembed %}
        <div class="main-panel">
        {% embed 'template/header.html.twig' %}{% endembed %}
            <div class="content">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="" id="startTimer" class="btn-header btn btn-success text-left" data-toggle="modal" data-target="#productsAddModal"><i class="fa fa-play "></i></a>
                            <a href="" id="pauseTimer" class="btn-header btn btn-warning" data-toggle="modal" data-target="#productsAddModal"><i class="fa fa-pause"></i> </a>
                            <a href="" id="stopTimer" class="btn-header btn btn-danger" data-toggle="modal" data-target="#productsAddModal"><i class="fa fa-stop"></i> </a>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <a href="" class="btn-header btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtra per Cliente <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for item in items %}
                                        <li><a href="#">{{ functions.convertClientID(item.client) }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a href="" class="btn-header btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtra per Data <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for item in items %}
                                        <li><a href="#">{{ item.timeStart|date("d-m-Y") }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>Ora Inizio</th>
                                <th>Ora Fine</th>
                                <th>Totale Tempo</th>
                                <th>Tags</th>
                                <th>Cliente</th>
                                <th>Fatturabile</th>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>{{ item.timeStart|date("d-m-y H:i") }}</td>
                                        <td>{{ item.timeStop|date("d-m-y H:i") }}</td>
                                        <td>
                                            {# endDate and startDate are strings or DateTime objects #}
                                            {% set difference = date(item.timeStop).diff(date(item.timeStart)) %}
                                            {{ difference|date("%H:%i") }}
                                        </td>
                                        <td>{{ functions.decodeJSON(item.tags) }}</td>
                                        <td>{{ functions.convertClientID(item.client) }}</td>
                                        <td>{%  if item.billable == 1 %}<i class="icon-pe pe-7s-check text-success"></i>{% else %}<i class="icon-pe pe-7s-close-circle text-danger"></i>{% endif %}</td>
                                        <td style="text-align: right">
                                            <a class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-xs btn-danger" href=""><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $("#pauseTimer").hide();
                                $("#stopTimer").hide();
                            });
                            $('#startTimer').click(function(e) {
                                e.preventDefault();
                                $("#startTimer").hide();
                                $("#pauseTimer").animate({width:'90px'},{duration: 300, complete: function() {
                                    var time = '00:00';
                                    $("#pauseTimer").show().html('<i class="fa fa-pause"></i>' + time);
                                    $("#stopTimer").show();
                                    $('#timetrackerStart').modal();
                                    $('#form_timeStart').text(new Date('dd-mm-yyyy hh:ii'));
                                }});
                            });
                            $("#stopTimer").click(function (e) {
                                e.preventDefault();
                                $("#pauseTimer").hide();
                                $("#stopTimer").hide();
                                $("#startTimer").show();

                            })
                        </script>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}<script src="{{ asset('assets/js/bootstrap-tagsinput.js') }}" type="text/javascript"></script>{% endblock %}
{% block stylesheets %}<link href="{{ asset('assets/css/bootstrap-tagsinput.css') }}" rel="stylesheet"/>{% endblock %}
