<div class="modal fade" tabindex="-1" role="dialog" id="clientsAddModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Aggiungi Cliente</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.vat_number) }}
                    {{ form_widget(form.vat_number) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address) }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            {{ form_label(form.cap) }}
                            {{ form_widget(form.cap) }}
                        </div>
                        <div class="col-lg-4">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                        </div>
                        <div class="col-lg-4">
                            {{ form_label(form.prov) }}
                            {{ form_widget(form.prov) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_label(form.tel) }}
                            {{ form_widget(form.tel) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
            <script>
                $('#form_save').click( function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '{{ url('clients') }}',
                        method: 'POST',
                        data: $('form').serialize(),
                        success: function (html) {
                        showNotify('Clienti', 'Cliente aggiunto con successo', 'fa fa-user', 'success');
                        $('#clientsAddModal').modal('toggle');
                        reloadTable('{{ url('api_client_all') }}','#clientTable');
                        },
                        error: function (html) {
                        showNotify('Clienti', 'Errore Aggiunta cliente', 'fa fa-exclamation-circle', 'danger');
                        $('#clientsAddModal').modal('toggle');
                        reloadTable('{{ url('api_client_all') }}','#clientTable');                        }
                    });
                });

                function reloadTable(endpoint,table) {
                    $.ajax({
                        url: endpoint,
                        method: 'GET',
                        dataType: 'html',
                        success: function(html) {
                            $(table).html(html);
                        }
                    })
                }
                function reloadClient() {
                    $.ajax({
                        url: '{{ url('api_client_all') }}',
                        method: 'GET',
                        dataType: 'html',
                        success: function(html) {
                            $('#clientTable').html(html);
                        }
                    })
                }
            </script>
        </div>
    </div>
</div>