<div class="modal fade" tabindex="-1" role="dialog" id="expenseAddModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuova Fattura Ricevuta</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            {{ form_label(form.dateReceived) }}
                            {{ form_widget(form.dateReceived) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(form.deadline) }}
                            {{ form_widget(form.deadline) }}
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.supplier) }}
                                {{ form_widget(form.supplier) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-6">
                            {{ form_label(form.total) }}
                            {{ form_widget(form.total) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_label(form.paid) }}
                            {{ form_widget(form.paid) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>