<div class="modal fade" tabindex="-1" role="dialog" id="invoiceAddModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuova Fattura</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.client) }}
                            {{ form_widget(form.client) }}
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_label(form.status) }}
                                    {{ form_widget(form.status) }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(form.total) }}
                                        <div class="input-group">
                                            <div class="input-group-addon">€</div>
                                            {{ form_widget(form.total) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>