<div class="modal fade" tabindex="-1" role="dialog" id="productsAddModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ modal_title }}</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.type) }}
                    {{ form_widget(form.type) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.price) }}
                    <div class="input-group">
                        <div class="input-group-addon">€</div>
                        {{ form_widget(form.price) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">

                            {{ form_label(form.billable) }}
                            {{ form_widget(form.billable) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_label(form.enabled) }}
                            {{ form_widget(form.enabled) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>