<div class="modal fade" tabindex="-1" role="dialog" id="timetrackerStart">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ modal_title }}</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'form'}}) }}
                <div class="form-group">
                    {{ form_label(form.timeStart) }}
                    {{ form_widget(form.timeStart) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.tags) }}
                    {{ form_widget(form.tags) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.client) }}
                    {{ form_widget(form.client) }}
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        {{ form_label(form.billable) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.billable) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <script>
        $("#form_tags").tagsinput('items')
        $("#form_save").click(function (e) {
            e.preventDefault();
            alert($("#form").serialize());
            $.ajax({
                method: 'POST',
                url: '{{ url('timetrackerStart') }}',
                dataType: 'html',
                data: $("#form").serialize(),
                success: function () {
                    $('#timetrackerStart').modal('toggle');
                    timerStart('#pauseTimer');
                }
            })
        });
        function timerStart(e) {
            $(e).text('ok');
        }
    </script>
</div>