{% extends 'base.html.twig' %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="fullscreen_bg" class="fullscreen_bg"></div>

<div class="container">

    <form class="form-signin" action="{{ path('login') }}" method="post">
        <h1 class="form-signin-heading text-muted"></h1>
        <img src="{{ asset('assets/img/user-1.jpg') }}" alt="..." class="img-circle img-responsive" style="max-width: 80px; margin:0 auto">
        <input type="text" class="form-control" id="username" name="_username" placeholder="Username" value="{% if(last_username) %} {{ last_username }} {% else  %} admin {% endif %}" required="" autofocus="" readonly>
        <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Accedi
        </button>
    </form>

</div>
<style>
    body {
        padding-top: 120px!important;
        padding-bottom: 40px!important;
        background-color: #eee!important;

    }
    .btn
    {
        outline:0!important;
        /*border:none!important;
        border-top:none!important;
        border-bottom:none!important;
        border-left:none!important;
        border-right:none!important;
        box-shadow:inset 2px -3px rgba(0,0,0,0.15)!important;*/
        background: inherit;
        visibility: hidden;
    }
    .btn:hover {
        background-color: #1D62F0;
        color: #FFFFFF;
    }
    .btn:focus
    {
        outline:0!important;
        -webkit-outline:0!important;
        -moz-outline:0!important;
    }
    .fullscreen_bg {
        z-index: -1;
        position: fixed!important;
        top: 0!important;
        right: 0!important;
        bottom: 0!important;
        left: 0!important;
        background-size: cover!important;
        background-position: 50% 50%!important;
        background-image: url('{{ asset('assets/img/login-bg.jpg') }}');
        background-repeat:repeat;
    }

    .form-signin {
        max-width: 280px!important;
        padding: 15px!important;
        margin: 0 auto!important;
        margin-top:50px!important;
    }
    .form-signin .form-signin-heading, .form-signin {
        margin-bottom: 10px!important;
    }
    .form-signin .form-control {
        position: relative!important;
        font-size: 16px!important;
        height: auto!important;
        padding: 10px!important;
        -webkit-box-sizing: border-box!important;
        -moz-box-sizing: border-box!important;
        box-sizing: border-box!important;
    }
    .form-signin .form-control:focus {
        z-index: 2!important;
    }
    .form-signin input[type="text"] {
        margin-bottom: 10px;
        text-align: center;
        background-color: transparent;
        border: none;
        color: #FFF;
        cursor: default;
        /*margin-bottom: -1px!important;
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
        border-top-style: solid!important;
        border-right-style: solid!important;
        border-bottom-style: none!important;
        border-left-style: solid!important;
        border-color: #9e9e9e!important;*/
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px!important;
        /*border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;*/
        border-top-style: none!important;
        border-right-style: solid!important;
        border-bottom-style: solid!important;
        border-left-style: solid!important;
        border:1px solid transparent;
        /*border-color: #9e9e9e!important;
        border-top:1px solid rgba(0,0,0,0.08)!important;*/
    }
    .form-signin-heading {
        color: #fff!important;
        text-align: center!important;
        text-shadow: 0 2px 2px rgba(0,0,0,0.5)!important;
    }
</style>

{% endblock %}