<footer class="footer no-print">
    <div class="container-fluid">
        <nav class="pull-left">

        </nav>
        <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.andreaem.com">AndreaEM</a>
        </p>
    </div>
</footer>
{% block stylesheets %}
    <style>
        @media print{
            .no-print{
                display:none;
            }
        }
    </style>
{% endblock %}