<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ page_name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-left search-bar">
                <li>
                    <a href="{{ url('homepage') }}" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-dashboard"></i>
                        <p class="hidden-lg hidden-md">{{ page_name }}</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <b class="caret hidden-lg hidden-md"></b>
                        <p class="hidden-lg hidden-md">
                            5 Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                    </ul>
                </li>
                <li class="sb-search-li">
                    <a href="" id="sb-search-button">
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                    <input type="text" class="sb-search-input sb-search-hidden" placeholder="Ricerca..."/>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <p>Anno 2017</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">2017</a></li>
                        <li><a href="">2018</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <p>Account</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">Cambia Password</a></li>
                        <li><a href="">Impostazioni Account</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url("logout") }}">
                        <p>Log out</p>
                    </a>
                </li>
                <li class="separator hidden-lg"></li>
            </ul>
        </div>
    </div>
</nav>