<div class="sidebar" data-color="blue" data-image="{{ asset("assets/img/sidebar-5.jpg") }}">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{{ url('homepage') }}" class="simple-text">
                Fatturazione
            </a>
        </div>

        <ul class="nav">
            <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                <a href="{{ url('homepage') }}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            {% if plugin_time_tracker == true %}
            <li class="{% if app.request.attributes.get('_route') == 'timetracker'%}active{% endif %}">
                <a href="{{ url('timetracker') }}">
                    <i class="pe-7s-alarm"></i>
                    <p>Time Tracker</p>
                </a>
            </li>
            {% endif %}
            <li class="{% if app.request.attributes.get('_route') == 'clients' or app.request.attributes.get('_route') == 'clients_details' %}active{% endif %}">
                <a href="{{ url('clients') }}">
                    <i class="pe-7s-user"></i>
                    <p>Clienti</p>
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'invoices' %}active{% endif %}">
                <a href="{{ url('invoices') }}">
                    <i class="pe-7s-note2"></i>
                    <p>Fatture</p>
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'expenses' %}active{% endif %}">
                <a href="{{ url('expenses') }}">
                    <i class="pe-7s-cash"></i>
                    <p>Spese</p>
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'products' %}active{% endif %}">
                <a href="{{ url('products') }}">
                    <i class="pe-7s-box2"></i>
                    <p>Prodotti</p>
                </a>
            </li>
            {% if plugin_calendar == true %}
            <li class="{% if app.request.attributes.get('_route') == 'calendar' %}active{% endif %}">
                <a href="{{ url('calendar') }}">
                    <i class="pe-7s-date"></i>
                    <p>Calendario</p>
                </a>
            </li>
            {% endif %}
            <li class="{% if app.request.attributes.get('_route') == 'notes' %}active{% endif %}">
                <a href="{{ url('notes') }}">
                    <i class="pe-7s-note"></i>
                    <p>Note</p>
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'settings' %}active{% endif %}">
                <a href="{{ url('settings') }}">
                    <i class="pe-7s-settings"></i>
                    <p>Impostazioni</p>
                </a>
            </li>
        </ul>
    </div>
</div>